node_modules/
dist/
.ipynb_checkpoints
__pycache__/
.eslintcache

# IDEs:
.idea/

# Local files:
local.*
.env.local
.env.*.local

# Log files:
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Project specific:
data/
models/
.nuxt/

# Binary files:
*.db
*.db-journal
# annoy index is a too large and can't be diffed anyway:
*.ann
