// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify e.g. `$font-size-root: 20px;`

$color-primary: #00BFA5;
$color-accent: #29B6F6;
$color-secondary: #66BB6A;
$color-info: #26A69A;
$color-warning: #FFC107;
$color-error: #F4511E;
$color-success: #00E676;
$color-gray: #dbefee;
