# ----- Front-end: -----
**/node_modules/
**/dist/
**/.nuxt/

# ----- Back-end: -----
__pycache__/
# Ignore saved models (we create a volume instead):
model_server/

# ----- Misc: -----
**/notebooks/
*.ipynb
local.*
*.md

# ----- IDEs: -----
.idea/
.vs/
.vscode/
